- if @item.path == '/'
  = yield
  %div.footer
    %div.container
      = render 'footer'

- else
  %div.container
    = render 'header'
    %div.content
      = yield
    = render 'nav'
  %div.footer
    %div.container
      = render 'footer'
