%footer
  %div.footer-div
    %div.footer-contents
      %section
        %aside
          %h6 Whose site is this?
        %article
          %p This is the digital abode of Evan Carmi. #{link_to('Moreover...', '/about/', title: 'About')}.
      %section
        %aside
          %h6 Does he use email?
        %article
          %p Email me for work inquiries or just to say hello at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#101;&#118;&#097;&#110;&#064;&#101;&#099;&#097;&#114;&#109;&#105;&#046;&#111;&#114;&#103;">&#101;&#118;&#097;&#110;&#064;&#101;&#099;&#097;&#114;&#109;&#105;&#046;&#111;&#114;&#103;</a>
      %section
        %aside
          %h6 How was the site made?
        %article
          %p Evan Carmi designed and coded this site by hand with love in #{link_to('Vim', 'https://github.com/carmi/dotfiles/blob/master/.vimrc')}.  It is powered by #{link_to('Nanoc', 'http://nanoc.stoneship.org/')} and served by #{link_to('Nginx', 'http://nginx.org/')} on the #{link_to('Joyent Cloud', 'http://joyent.com/')}. The complete source code is #{link_to('online', "https://github.com/carmi/ecarmi.org-nanoc")}.

    %p.social-links
      =link_to('<i class="fa fa-github"></i>', 'https://github.com/carmi/', :title => "Github", :rel => "me")
      =link_to('<i class="fa fa-twitter"></i>', 'https://twitter.com/ehc', :title => "Twitter", :rel => "me")
      =link_to('<i class="fa fa-linkedin"></i>', 'http://www.linkedin.com/in/evancarmi', :title => "LinkedIn", :rel => "me")
