%footer
  %div.footer-div
    %div.footer-contents
      %section
        %aside
          %h6 Whose site is this?
        %article
          %p This is the digital abode of Evan Carmi. #{link_to('Moreover...', '/about/', title: 'About')}.
      %section
        %aside
          %h6 Have thoughts?
        %article
          :plain
            <script async src='//easyform.io/assets/embed.js'></script>
            <form id="contact-form" action="//easyform.io/e44d9aea04bbaadceb9cbb8a412116e1" method="POST">
              <input type="email" name="replyto" placeholder="Put your email here..." required>
              <textarea name="message" rows="2" placeholder="Put your opinion here..." required></textarea>
              <input type="text" name="_gotcha" style="display:none">
              <input type="hidden" name="subject" value="[submission] Hello from ecarmi.org" />
              <input type="submit" value="Send">
            </form>
      %section
        %aside
          %h6 How was the site made?
        %article
          %p Evan Carmi designed and coded this site by hand with love in #{link_to('Vim', 'https://github.com/carmi/dotfiles/blob/master/.vimrc')}.  It is powered by #{link_to('Nanoc', 'http://nanoc.stoneship.org/')} and served by #{link_to('Nginx', 'http://nginx.org/')} on the #{link_to('Joyent Cloud', 'http://joyent.com/')}. The complete source code is #{link_to('online', "https://github.com/carmi/ecarmi.org-nanoc")}.

    %p.social-links
      =link_to('<i class="fa fa-home"></i>', '/', :title => "Home")
      =link_to('<i class="fa fa-github"></i>', 'https://github.com/carmi/', :title => "Github", :rel => "me")
      =link_to('<i class="fa fa-twitter"></i>', 'https://twitter.com/ehc', :title => "Twitter", :rel => "me")
      =link_to('<i class="fa fa-linkedin"></i>', 'http://www.linkedin.com/in/evancarmi', :title => "LinkedIn", :rel => "me")
