%div.landing
  %h2.name Hello, my name is
  %h1.evancarmi Evan Carmi.
  %h1.i I
  %div.action-block
    %ul
      %li.action.code
        %h1.action.code
          %a{:href => "#code"} code
      %li.action.write
        %h1.action.write
          %a{:href => "#write"} write
      %li.action.work
        %h1.action.work
          %a{:href => "#work"} work

%section.scrollpage#write
  %div.wrapper
    %h1.section.write
      = link_to('write', '/writing/')
    - featured_articles[0..2].each do |item|
      %article
        %h2.title= link_to item[:title], item
        %p.summary= item[:summary]

%section.scrollpage#code
  %div.wrapper
    %h1.section.code code
    %h2 A few projets on #{link_to('github', 'https://github.com/carmi/')}
    %dl.projects
      %dt
        %h2
          #{link_to('ecarmi.org - nanoc', "https://github.com/carmi/ecarmi.org-nanoc")}
      %dl
        %p The source code to this blog.
      %dt
        %h2
          %a{:href => "https://github.com/carmi/facebook-analyzer"} Facebook Analyzer
      %dl
        %p A fun project to parse and analyze a downloaded facebook account.
      %dt
        %h2
          %a{:href => "https://github.com/carmi/comp356"} Comp356 - Computer Graphics in C
      %dl
        %p A 3D ray tracer and maze game written in C for a Computer Graphics course.

%section.scrollpage#work
  %div.wrapper
    %h1.section.work work
    %h2 
      Work Status:
      %span.current
        I'm open to exceptional opportunities.
    %dl.work
      %dt
        %img{:src => "/static/img/nyt-350.png"}
      %dl
        %p
          As a part of The New York Times Interactive News Technology desk I built news apps, ranging from 
          %a{:href => 'http://elections.nytimes.com/2012/campaign-finance/primaries'} campaign
          %a{:href => 'https://github.com/NYTimes/Fech'} finance
          to the Times 
          %a{:href => 'http://london2012.nytimes.com/'} London 2012 Olympics website.
      %dt
        %h2 Wesleyan University
      %dl
        %p I worked with Wesleyan's Program on Terrorism and Insurgency Research, a group seeking to improve knowledge about political violence, to develop a custom Django application to facilitate data research and analysis.
      %dt
        %h2 Myself
      %dl
        %p I designed and built this web site from scratch using HTML5 and CSS3.
